useDynLib(finFindR, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("Rcpp","evalCpp")
importFrom("graphics","plot","points")
importFrom("stats","approx","filter","quantile","sd")
importFrom("utils","head")
import("imager")

export(constrainSizeFinImage)
export(cropFins)
export(traceFromImage)
